/**
* Updated: 16 Aug 2023
* Author: Courtney - web-OGs
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Jura", sans-serif;
    color: #f9007b;
    background-color: #000;
}

a {
    text-decoration: none;
    color: #f9007b;
    transition: 0.5s;
}

    a:hover,
    a:active,
    a:focus {
        color: #f9007b;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1 {
    font-family: "Raleway Bold", sans-serif;
    font-weight: 800;
    margin: 0 0 20px 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

@media (max-width: 600px) {
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Prelaoder */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000 center center;
}


    #preloader h2 {
        font-size: 1.3em;
        text-align: center;
        animation: animate 1s linear infinite;
        animation-duration:1s;
    }
@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}



.pre-container {
    margin: 100px auto;
    margin-top: 300px;
    width: 300px;
    text-align: center;
    position: relative;
}

.progress2 {
    border-radius: 30px;
    background-color: #fff;
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    transition: 0.3s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    background-color: #f9007b;
    animation: progress 3s ;
}

@keyframes progress {
    0% {
        width: 0%;
        background: #f9007b;
    }

    100% {
        width: 100%;
        background: #f9007b;
        box-shadow: 0 0 30px #f9007b;
    }
}


.loader {
    --p: 0;
    animation: p 3s steps(100);
    
    font-size: 2.1em;
    position: absolute;
    bottom: 45px;
    left: 325px;
    color: #f9007b;
}

    .loader:after {
        content: counter(p) "%";
    }

@keyframes p {
    90%, 100% {
        --p: 100;
    }
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 85px;
    bottom: 115px;
    z-index: 996;
    background: #f9007b;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }

    .back-to-top:hover {
        border: 3px solid #fff;
        background: none;
        color: #fff;
    }

    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }

@media (max-width: 768px) {
    .back-to-top {
        right:15px;
        bottom:100px;
    }
}


    /*--------------------------------------------------------------
# Vanta Canvas
--------------------------------------------------------------*/

    #vanta-canvas {
        width: 100%;
        height: 100vh;
        position: fixed;
    }

    #blackoverlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.6);
    }

.vanta-fixed-container {
    position: relative;
    padding-bottom: 2em;
    
}


.card {
    background: none;
    color: rgb(249, 0, 123);
    padding-top: 3em;
    padding-bottom: 3em;
    box-shadow: none;
}

    @media (max-width: 768px) {


        #hero .card {
            padding-top: 0em;
            padding-bottom: 3em;
        }

    }




    /*--------------------------------------------------------------
# HERO SECTION
--------------------------------------------------------------*/
#hero {
    margin-top:260px;
    display: table;
    width: 100%;
    height: 60vh;
    vertical-align: middle;
}
    #hero .pink {
        color: rgb(249, 0, 123);
      
    }


    #hero .rotating > .animated {
        display: inline-block;
    }

 #hero .hero-container {
            display: table-cell;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
 }

 #hero .my-5{
     margin-top:150px!important;
 }

  #hero h1 {
            margin: 20px 0 10px 0;
            font-weight: 500;
            line-height: 98px;
            text-transform: uppercase;
            color: #fff;
            font-size: 115px;
        }
    @media (max-width: 600px) {    
        #hero{
            margin-top:140px;
            height:60vh;
        }
        #hero h1 {
            font-size: 70px;
            line-height: 50px;
        }
        #hero .my-5 {
            margin-top: 0px !important;
        }
    }


    /*SCROLL*/



.scroll-container {
    position: relative;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

    .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    }

    .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    }

    .chevron:before,
    .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: #f9007b;
    }

    .chevron:before {
        left: 0;
        transform: skew(0deg, 30deg);
    }

    .chevron:after {
        right: 0;
        width: 50%;
        transform: skew(0deg, -30deg);
    }

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 35px;
    margin-left: -30px;
    font-size: 12px;
    color: #f9007b;
    text-transform: uppercase;
    white-space: nowrap;

 
}




    /*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
    /* Sections Common
--------------------------------*/
    section {
        overflow: hidden;
    }

.section-title {
    font-family: "Jura", sans-serif;
    font-size: 35px;
    background-color: rgb(249, 0, 123);
    color: #000;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .section-description {
        text-align: left;
        margin-bottom: 40px;
    }

    @media (max-width: 768px) {
        .section-title {
            font-size: 30px;
        }
    }

    hr.dashed {
        border-top: 2px dashed #f9007b;
    }


    /* intro txt Section
--------------------------------*/

    #intro{
        margin-top:40px;
        margin-bottom:-250px !important;
    }

    #access p{
        font-weight:900;
    }

    .intro-text p {
        font-size: 14px;
        text-align:center;
    }

    @media (max-width: 600px) {
        .intro-text p {
            font-size: 13px;
        }

        #intro .hide {
            display: none;
        }


    }
.alignright {
    text-align: right;
}

.codedText {
    padding-top: 45px;
    transform: translateY(-50%);
}


    /* About Section
--------------------------------*/

    #about p {
        color: #fff;
    }

#about h4 {
    font-size: 38px;
    color: rgb(249, 0, 123);
    font-weight: 800;
}

    #about h6 {
        font-size: 25px;
    }

    /* VALUES Section
--------------------------------*/


#values p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

    #values p:hover {
       
        color: #f9007b;
        text-shadow: 0px 0px 30px #f9007b;
    }

@media (max-width: 600px) {
   #values p{
       margin-bottom:65px;
   }
}


    /* Contact Section
--------------------------------*/
    #contact {
        padding: 20px 0 20px 0;
    }

        #contact p {
            color: #fff;
        }

        #contact .info {
            color: #fff;
        }

            #contact .info i {
                font-size: 26px;
                color: rgb(249, 0, 123);
                float: left;
                line-height: 0;
            }

            #contact .info p {
                padding: 0 0 10px 50px;
                line-height: 24px;
            }

    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    #contact .actions {
        margin-bottom: 0.5em;
    }

        #contact .actions a {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 8px 20px;
            border-radius: 2px;
            transition: 0.5s;
            margin: 10px;
        }

#contact button {
    padding: 10px 20px;
    border: none;
    border: 2px solid #f9007b;
}

        #contact button:hover {
            background: none;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 2px;
        }

.btn-send-mail {
    background: rgb(249, 0, 123);
    color: #fff;
    text-align: center;
    padding: 10px, 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-radius: 2px;
}

    .btn-send-mail:hover {
        background: none;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 2px;
    }

    /*--------------------------------------------------------------
# Header TOP
--------------------------------------------------------------*/
    #header {
        transition: all 0.5s;
        z-index: 997;
        height: 70px;
        padding-top: 20px;
        left: 5em;
        right: 5em;
    }

        #header .header-container {
            width: 100%;
            transition: all 0.5s;
            z-index: 997;
            height: 70px;
            bottom: 0px;
            padding-left: 40px;
            padding-right: 40px;
        }

    @media (max-width: 992px) {
        #header {
            height: 60px;
            left: -2em;
            right: -2em;
        }
    }

    #header .logo {
        font-size: 15px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

        #header .logo img {
            height: 50px;
        }

    .scrolled-offset {
        margin-top: 70px;
    }

    @media (max-width: 992px) {
        .scrolled-offset {
            margin-top: 60px;
        }

        #header .logo {
            display: none;
        }
    }

    #header .actions a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 20px;
        border-radius: 2px;
        transition: 0.5s;
        margin: 10px;
    }

.btn-say-hi {
    background: rgb(249, 0, 123);
    color: #fff;
    width: 100px;
    text-align: center;
}

        .btn-say-hi:hover {
            background: none;
            border: 2px solid #fff;
            color: #fff;
        }


.socials a {
    color: rgb(249, 0, 123);
    padding: 0.5em;
    font-size: 1.2em;
}

    @media (max-width: 768px) {
        .socials a {
            padding: 0.5em;
            font-size: 1.5em;
        }
    }


    /*--------------------------------------------------------------
# Header BTM
--------------------------------------------------------------*/
    #header-btm {
        transition: all 0.5s;
        z-index: 997;
        height: 70px;
        bottom: 25px;
        left: 5em;
        right: 5em;
    }

        #header-btm .header-container {
            width: 100%;
            transition: all 0.5s;
            z-index: 997;
            height: 70px;
            bottom: 0px;
            background: #000;
            border: 0.5px solid #f9007b;
            padding-left: 50px;
            padding-right: 50px;
        }

    @media (max-width: 992px) {
        #header-btm {
            height: 60px;
            left: 1em;
            right: 1em;
        }

            #header-btm .header-container {
                width: 100%;
                transition: all 0.5s;
                z-index: 997;
                height: 70px;
                bottom: 0px;
                background: #000;
                border: 0.5px solid #f9007b;
                padding-left: 20px;
                padding-right: 20px;
            }
    }

    #header-btm .logo {
        font-size: 30px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 12px;
        text-transform: uppercase;
    }

        #header-btm .logo a {
            color: #fff;
        }

        #header-btm .logo img {
            height: 40px;
        }

    .scrolled-offset {
        margin-top: 70px;
    }

    @media (max-width: 992px) {
        .scrolled-offset {
            margin-top: 60px;
        }

        #header-btm .logo img {
            height: 25px;
        }
    }




    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    /**
* Desktop Navigation 
*/
    .navbar {
        padding: 0;
    }

        .navbar ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }

        .navbar li {
            position: relative;
        }

        .navbar a,
        .navbar a:focus {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0 10px 30px;
            font-family: "Jura", sans-serif;
            font-size: 14px;
            color: #fff;
            white-space: nowrap;
            transition: 0.3s;
        }

            .navbar a i,
            .navbar a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
            }

            .navbar a:hover,
            .navbar .active,
            .navbar .active:focus,
            .navbar li:hover > a {
                color: rgb(249, 0, 123);
            }



@media (max-width: 768px) {
    .navbar a,
    .navbar a:focus {
      
        padding: 10px 0 10px 12px;
        
    }
}


    /**
* Mobile Navigation 
*/
    .mobile-nav-toggle {
        color: #f9007b;
        font-size: 30px;
        cursor: pointer;
        display: none;
        line-height: 0;
        transition: 0.5s;
    }

    @media (max-width: 991px) {
        .mobile-nav-toggle {
            display: block;
        }

     
    }

    .navbar-mobile {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #000;
        transition: 0.3s;
        z-index: 999;
    }

        .navbar-mobile .mobile-nav-toggle {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .navbar-mobile ul {
            display: block;
            position: absolute;
            top: 55px;
            right: 15px;
            bottom: 15px;
            left: 15px;
            padding: 10px 0;
            background-color: #000;
            overflow-y: auto;
            transition: 0.3s;
        }

        .navbar-mobile a,
        .navbar-mobile a:focus {
            padding: 5px 10px;
            font-size: 15px;
            color: #fff;
        }

            .navbar-mobile a:hover,
            .navbar-mobile .active,
            .navbar-mobile li:hover > a {
                color: #f9007b;
            }

       

    /*--------------------------------------------------------------
# ANIMATIONS
--------------------------------------------------------------*/




.square {
    background-color: rgb(249, 0, 123);
    width: 25px;
    height: 25px;
    margin: 20px auto;
    -webkit-animation: rescale 2s infinite;
    animation: rescale 2s infinite;
    left: 0;
    margin-top: -30px;
    margin-left: 0em;
}

.square-end {
    background-color: rgb(249, 0, 123);
    width: 25px;
    height: 25px;
    margin: 20px auto;
    -webkit-animation: rescale 2s infinite;
    animation: rescale 2s infinite;
    right: 0;
    margin-top: -30px;
    margin-right: 0em;
}

    @-webkit-keyframes rescale {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(36deg);
        }

        20% {
            transform: rotate(72deg);
        }

        30% {
            transform: rotate(108deg);
        }

        40% {
            transform: rotate(144deg);
        }

        50% {
            transform: rotate(180deg);
        }

        60% {
            transform: rotate(216deg);
        }

        70% {
            transform: rotate(252deg);
        }

        80% {
            transform: rotate(288deg);
        }

        90% {
            transform: rotate(334deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes rescale {
        0% {
            transform: rotate(0deg);
        }

        10% {
            transform: rotate(36deg);
        }

        20% {
            transform: rotate(72deg);
        }

        30% {
            transform: rotate(108deg);
        }

        40% {
            transform: rotate(144deg);
        }

        50% {
            transform: rotate(180deg);
        }

        60% {
            transform: rotate(216deg);
        }

        70% {
            transform: rotate(252deg);
        }

        80% {
            transform: rotate(288deg);
        }

        90% {
            transform: rotate(334deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }









    /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
    .breadcrumbs {
        padding: 30px 0;
    }

        .breadcrumbs h2 {
            font-size: 26px;
            font-weight: 300;
        }

        .breadcrumbs ol {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 15px;
        }

            .breadcrumbs ol li + li {
                padding-left: 10px;
            }

                .breadcrumbs ol li + li::before {
                    display: inline-block;
                    padding-right: 10px;
                    color: gray;
                    content: "/";
                }

    @media (max-width: 768px) {
        .breadcrumbs .d-flex {
            display: block !important;
        }

        .breadcrumbs ol {
            display: block;
        }

            .breadcrumbs ol li {
                display: inline-block;
            }
    }

    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: rgb(249, 0, 123);
}
#footer .card{
    padding-top:0px;

}

        #footer .copyright {
            text-align: center;
        }

@media (max-width: 768px) {
    #footer{
        font-size: 10px;
    }
}
